*{
    margin:0;
    padding:0;

}
*{
    font-weight: bold;
    color:darkblue;
}

.flex-container{
    width: 100%;
    height: auto;
    background-color:lightgreen;
    border:1px solid lightcoral;
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap ;
    align-items: space-between;

}
.flex-item{
    border:3px dotted black;
    width: 200px;
    height: auto;
}

.flex-item p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    word-spacing: 200px;
    letter-spacing: 10px;
    text-indent: 40px;
    line-height: 2;
    text-transform: capitalize;

} 
.flex-container.h1{
    background-color: lightblue;
    text-align: center;
    text-shadow: 3px 3px 2px;
}
.para{
    background-color: skyblue;
    text-align: center;
}

